<div class="container-fluid">
    <div class="group">
        <div class="boxboarder">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-envelope" (click)="sendReminderMail()" aria-hidden="true"></i>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-envelope" (click)="sendEducatorMail()" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="reminder-email">Reminder Mail</label>
                </div>
                <div class="col-md-3">
                    <label for="reminder-email">Educator Mail</label>
                </div>
            </div>
            
        </div>
    </div>
</div>