<div class="container-fluid">
    <form (ngSubmit)="createQuestion(questionCreationForm)" [formGroup]="questionCreationForm">
        <div class="group">
            <div class="boxboarder">
                <br>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="stack">Stack</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <select style="width: 36%;" class="form-control form-control-sm" formControlName="stack"
                                id="stack" name="stack" [(ngModel)]="this.questionnaire.stack" required>
                                <option selected value='' disabled>Please Select</option>
                                <option *ngFor="let stack of stackList" value="{{stack}}">{{stack}}</option>
                            </select>
                            <div *ngIf=" submitted && stack.errors?.required">
                                <span style="color: red;padding:2px">Stack is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="source">Source</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="source" id="source"
                                name="source" class="text" [(ngModel)]="this.questionnaire.source">
                            <div *ngIf=" submitted && source.errors?.required">
                                <span style="color: red;padding:2px">Source is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="category">Category</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <select style="width: 36%;" class="form-control form-control-sm" formControlName="category"
                                id="category" name="category"   [(ngModel)]="this.questionnaire.category" required>
                                <option selected value='' disabled>Please Select</option>
                                <option value='Application'>Application</option>
                                <option value='Analytics'>Analytics</option>
                                <option value='Servers'>Servers</option>
                            </select>
                            <div *ngIf=" submitted && category.errors?.required">
                                <span style="color: red;padding:2px">Category is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="difficulty-level">Difficulty Level</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <select style="width: 36%;" class="form-control form-control-sm" [(ngModel)]="this.questionnaire.difficulty"
                                formControlName="difficulty" id="difficulty" name="difficulty" required>
                                <option selected value='' disabled>Please Select</option>
                                <option value='Easy'>Easy</option>
                                <option value='Medium'>Medium</option>
                                <option value='Hard'>Hard</option>
                            </select>
                            <div *ngIf=" submitted && difficulty.errors?.required">
                                <span style="color: red;padding:2px">Difficulty is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="multiple-answer">Multiple Answer</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <select style="width: 36%;" class="form-control form-control-sm" formControlName="multiple"
                                id="multiple-answer" [(ngModel)]="this.questionnaire.multiple" name="multiple-answer" (change)="setMultipleValidators()"required>
                                <option selected value='' disabled>Please Select</option>
                                <option value='yes'>Yes</option>
                                <option value='no'>No</option>
                            </select>
                            <div *ngIf=" submitted && multiple.errors?.required">
                                <span style="color: red;padding:2px">Multiple Answer is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="topic">Topic</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="topic" id="topic" name="topic"
                                class="text" [(ngModel)]="this.questionnaire.topic">
                            <div *ngIf=" submitted && topic.errors?.required">
                                <span style="color: red;padding:2px">Topic is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="description">Description</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4" style="padding-left: 0px;padding-right: 7px">
                                <textarea style="width: 112%;" class="form-control form-control-sm" [(ngModel)]="this.questionnaire.description"
                                    formControlName="description" id="description" name="description" type="text">
                                </textarea>
                                <div *ngIf=" submitted && description.errors?.required">
                                    <span style="color: red;padding:2px">Description is a required field</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="option">Option 1</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="option1" id="option1"
                                name="option1" class="text" [(ngModel)]="this.questionnaire.optionOne" required>
                            <div *ngIf=" submitted && option1.errors?.required">
                                <span style="color: red;padding:2px">Option1 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="score">Score 1</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="score1" id="score1"
                                name="score1" class="text" [(ngModel)]="this.questionnaire.scoreOne" required>
                            <div *ngIf=" submitted && score1.errors?.required">
                                <span style="color: red;padding:2px">Score1 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="option2">Option 2</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="option2" id="option2"
                                name="option2" class="text" [(ngModel)]="this.questionnaire.optionTwo" required>
                            <div *ngIf=" submitted && option2.errors?.required">
                                <span style="color: red;padding:2px">Option2 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="score">Score 2</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="score2" id="score2"
                                name="score2" class="text" [(ngModel)]="this.questionnaire.scoreTwo" required>
                            <div *ngIf=" submitted && score2.errors?.required">
                                <span style="color: red;padding:2px">Score2 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="option">Option 3</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="option3" id="option3"
                                name="option3" class="text" [(ngModel)]="this.questionnaire.optionThree" required>
                            <div *ngIf=" submitted && option3.errors?.required">
                                <span style="color: red;padding:2px">Option3 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="score">Score 3</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="score3" id="score3"
                                name="score3" class="text" [(ngModel)]="this.questionnaire.scoreThree" required>
                            <div *ngIf=" submitted && score3.errors?.required">
                                <span style="color: red;padding:2px">Score3 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="option">Option 4</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="option4" id="option4"
                                name="option4" class="text" [(ngModel)]="this.questionnaire.optionFour" required>
                            <div *ngIf=" submitted && option4.errors?.required">
                                <span style="color: red;padding:2px">Option4 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="score">Score 4</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control form-control-sm" formControlName="score4" id="score4"
                                name="score4" class="text" [(ngModel)]="this.questionnaire.scoreFour" required>
                            <div *ngIf=" submitted && score4.errors?.required">
                                <span style="color: red;padding:2px">Score4 is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12 p-2">
                    <div class="row">
                        <div class="col-md-5" style="text-align: right;">
                            <b><label for="upload">Upload</label></b>
                        </div>
                        <div class="col-md-1">
                            <label for="">:</label>
                        </div>
                        <div class="col-md-6">
                            <a>
                                <i class="fa fa-upload" (click)="quesfileinput.click()"></i>
                                <input hidden type="file" #quesfileinput (change)="uploadQuestion($event)">
                            </a>
                            <!-- accept="application/vnd.ms-excel" -->
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <span style="padding-right: 10px;"><button type="submit"
                            class="btn btn-primary">Submit</button></span>
                    <span><button type="button" (click)="cancel()"
                            class="btn btn-outline-primary">Cancel</button></span>
                </div>
            </div>
        </div>
    </form>
</div>