@import "~bootstrap/dist/css/bootstrap.css";
.boxboarder {
    border: 1px solid #e4e4e4;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    width:100%;
    //background-color: #f7f7f7;
  }
  .fa{
    font-size: 30px;
  }

  